
.main {
  background: #F7F8FA;
}

.list_con {
  display: flex;
  justify-content: center;
}

.list_item {
  width: 220px;
  box-sizing: border-box;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  background: #fff;

  img {
    width: 220px;
    height: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  p {
    margin: 0;
    padding: 0;
  }
}